DerivedData
*.iml
*~
.DS_Store
.github/
.gradle/
.idea/
.metadata/
.settings/
Podfile.lock
bin/
bower_components/
build/
coverage.em
coverage/
instrumentation/
junit-reports/
local.properties
node_modules/
proguard-project.txt
xcuserdata
Pods/
package-lock.json

### Xcode ###
build
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings